body{
    background-image: -webkit-linear-gradient(22deg, #ffffff 0%, #62b6ff 35%, #181829 89%);
background-image: -moz-linear-gradient(22deg, #ffffff 0%, #62b6ff 35%, #181829 89%);
background-image: -o-linear-gradient(22deg, #ffffff 0%, #62b6ff 35%, #181829 89%);
background-image: linear-gradient(22deg, #ffffff 0%, #62b6ff 35%, #181829 89%);

    height: 100vh;
}
main{
     max-width: 300px;
     margin: auto;
     text-align: center;
}